<style>
  main {
    border: 1px solid black;
    width: 800px;
    margin: 50px auto;
    background-color: #F6E3FA;
  }
</style>

<main class="group">

<!-- Sidebar -->

<style>
  #sidebar {
    width: 180px;
    border: 1px solid black;
    float: left;
    margin: 10px;
    background-color: #4D2B48;
    color: #F7F1DA;
    padding: 10px;
  }
</style>

  <section id="sidebar" class="group">
    Sarah K Michaelson
    Web Developer
    <ul>
      <li>Email</li>
      <li>Github</li>
      <li>LinkedIn</li>
      <li>Resume</li>
    </ul>
  </section>

<!-- About me -->

<style>
#about-me {
  width: 530px;
  border: 1px solid black;
  float: right;
  margin: 10px;
  background-color: #4D2B48;
  color: #F7F1DA;
  padding: 10px;
}

#about-me ul {
  border: 1px solid red;
  padding: 10px;
}

</style>
  <section id="about-me" class="group">
    <h1>Hello!<h1>

    I'm Sarah, Nutrition Scientist and running enthusiast
    turned web developer. My skill set includes:

    <ul>
      <li>Ruby on Rails</li>
      <li>JavaScript</li>
      <li>HTML/CSS</li>
    </ul>

    When I'm not hacking, you can find me running (if you can catch me!),
    playing the cello, or mourning the loss of my single-serving
    French press.
  </section>

<!-- Projects -->

<style>
  #projects {
    width: 530px;
    border: 1px solid black;
    float: right;
    margin: 10px;
    background-color: #4D2B48;
    color: #F7F1DA;
    padding: 10px;
  }

  .description {
    border: 1px solid green;
    padding: 10px;
  }

  .app-data {
    border: 1px solid blue;
    padding: 10px;
  }
</style>

  <section id="projects">
    <h1>Projects</h1>

    <div class="app-data">
    Fitness App (Rails, Ruby, HTML, CSS, RSpec)
    (Inspired by myfitnesspal)
    https://github.com/skmichaelson/fitnessapp (source)
    http://applecinnamon-fitness-app.herokuapp.com (live)

      <ul class="description">
        <li>Includes a custom method to import CSV
          files from the USDA food database and convert
          each entry into a food object</li>
        <li>Sensitive information is protected using BCrypt and Figaro</li>
        <li>FeedItems and ReportItems are polymorphic models</li>
      </ul>

    </div>
  </section>

<!-- Resume -->

<style>
  #resume {
    width: 530px;
    border: 1px solid black;
    float: right;
    margin: 10px;
    background-color: #4D2B48;
    color: #F7F1DA;
    padding: 10px;
  }
</style>

  <section id="resume">
    <h1>Resume</h1>
  </section>

<!-- Contact -->

<style>
  #contact {
    width: 530px;
    border: 1px solid black;
    float: right;
    margin: 10px;
    background-color: #4D2B48;
    color: #F7F1DA;
    padding: 10px;
  }
</style>

  <section id="contact">
    <h1>Contact</h1>

  </section>

<!-- Footer -->

<style>
  #footer {
    width: 530px;
    border: 1px solid black;
    float: right;
    margin: 10px;
    background-color: #4D2B48;
    color: #F7F1DA;
    padding: 10px;
  }
</style>

  <section id="footer">
    <h1>Footer</h1>
  </section>

</main>

<!-- No need to go crazy with your personal site.
Maybe a jQuery animation here and there if it tickles your fancy.

Include:

A personal summary
A list of your projects with short descriptions
Use the descriptions from your résumé
For each project include a live link and a link to its Github repo
Don't forget the demo login info if needed
Easy access to your email (e.g. a link at the bottom of
your personal summary)
Links to your blog / Twitter / etc if they're well
maintained and show your interest in the web/tech. -->