#header {
  border: 1px solid black;
  width: 900px;
  margin: 0px auto;
  background-color: #102E02;
  display: block;
  margin-top: 50px;
  height: 70px;
}

#header h1 {
  float: left;
}

#header ul {
  float: right;
  margin-top: 26px;
}

#header li {
  float: left;
}

#header a {
  padding: 25px 30px;
  color: #F6E3FA;
}

#header a:hover {
  background-color: #0A1C02;
}