#display {
  width: 530px;
  float: right;
  margin-bottom: 20px;
  background-color: #AEC9A1;
  color: #0A1C02;
  height: 300px;
  border: 1px solid #B892E0;
}

#display a {
  color: #522CA3;
}

#display a:hover {
  color: #270C5E;
}