/* General */

.skills {
  font-style: italic;
  float: right;
  padding-right: 15px;
  padding-top: 6px;
}

/* Images */

.screenshots {
  margin: 10px auto;
  padding-left: 6px;
}

.screenshots img {
  float: center;
  margin: 0px 3px;
  border: 2px solid #62735B;
}

.screenshots img:hover {
  border: 2px solid #D8DB74;
  cursor: pointer;
}

/* Project links */

.project-links {
  margin-left: 30px;
  display: inline block;
}

.project-links li {
  float: left;
  text-align: center;
  padding-top: 3px;
}

.project-links li a {
  position: relative;
  border: 1px solid #62735B;
  border-radius: 10px;
  display: block;
  padding: 2px 7px;
  width: 70px;
  margin: 0px 5px;
  background-color: #C6DEBA;
  box-shadow: 0 2px #333;
}

.project-links li a:hover {
  box-shadow: none;
  top: 2px;
}

/* Features */

.features {
  display: block;
  margin: auto 25px;
  text-align: center;
}

.features h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.features section {
  display: none;
}

section.visible {
  display: block;
}

h1 > span {
  position: relative;
  border: 1px solid #62735B;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px 7px;
  margin: 0px 50px;
  background-color: #C6DEBA;
  box-shadow: 0 2px #333;
}

h1 > span:hover {
  cursor: pointer;
  box-shadow: none;
  top: 2px;
}
