#selected-photo img {
  display: none;
}

#selected-photo img.visible {
  display: block;
}

.modal-box-photos {
  position: absolute;
  top: 10%;
  left: 50%;
  background: #fff;
  margin-left: -400px;
}