<section class="photo">
  <div data-id="1" class="visible">
    <img src='/assets/carousel/cats.jpg' width="348px" height="261px">
  </div>

  <div data-id="2">
    <img src='/assets/carousel/Greyhouse.png' width="348px" height="261px">
  </div>

  <div data-id="3">
    <img src='/assets/carousel/snail.jpg' width="348px" height="261px">
  </div>
</section>

<section class="caption">
  <div data-id="1" class="visible">
    Loving cats is a prerequisite for being a good programmer,
    so here's a picture of my kittens! Chase is the hungry one,
    and Calleigh is his snack.
  </div>

  <div data-id="2">
    Performing at Greyhouse, a coffee shop in West Lafayette, IN.
    If you're a musician and looking for a cellist,
    <a href="#contact">send me a message</a>!
  </div>

  <div data-id="3">
    I love all critters, including the slimy and scaly ones.
    I found this little guy at Evernote. I was really excited,
    but I don't think the snail reciprocated those feelings.
  </div>
</section>