Hello! I'm Sarah, Nutrition Scientist and running enthusiast
turned web developer. My skill set includes:

  <ul>
    <li>Ruby on Rails</li>
    <li>JavaScript</li>
    <li>HTML/CSS</li>
  </ul>

When I'm not hacking, you can find me running (if you can catch me!),
playing the cello, or mourning the loss of my single-serving
French press.