<div class="greeting">Hello, I'm Sarah!</div>

<div class="greeting-text">
Nice to meet you! I'm a New York based Nutrition Scientist
now working as a web developer.
</div>

<div class="greeting">My specialties include:</div>

<div class="greeting-text">
<ul>
  <li><img src='/assets/icons/ruby.png' width="25px" height="25px">Ruby on Rails</li>
  <li><img src='/assets/icons/jquery.png' width="25px" height="25px">JavaScript (and jQuery)</li>
  <li><img src='/assets/icons/HTML5.png' width="25px" height="25px">HTML/CSS</li>
  <li><img src='/assets/icons/utensils.png' width="25px" height="25px">Kitchen improv</li>
</ul>
</div>

<div class="greeting">When I'm not hacking...</div>

<div class="greeting-text">
...you can find me running, playing the cello, or searching the
tri-state area for spicy chocolates.
</div>