<!-- Photo modal -->

<section id="photo-modal" class="group">
  <section class="modal">
    <article class="modal-box-photos">
      <span class="modal-close-button"><a href="/#projects">&times;</a></span>

      <div id="selected-photo">
        <img data-id="1" src='/assets/screenshots/sign_in.png' width="800" height="600">
        <img data-id="2" src='/assets/screenshots/find_friends.png' width="800" height="600">
        <img data-id="3" src='/assets/screenshots/search_foods.png' width="800" height="600">
      </div>
    </article>
  </section>
</section>

<!-- End photo modal -->

<div class="greeting">Fitness App (Inspired by <a href="http://www.myfitnesspal.com/">myfitnesspal</a>)</div>
<span class="group skills">Rails, Ruby, HTML, CSS, RSpec</span>

<ul class="group project-links">
  <li><a href="https://github.com/skmichaelson/fitnessapp">Source</a></li>
  <li><a href="http://applecinnamon-fitness-app.herokuapp.com">Live</a></li>
</ul>

<div class="group screenshots">
  <img data-id="1" src='/assets/screenshots/sign_in.png' width="160" height="120">
  <img data-id="2" src='/assets/screenshots/find_friends.png' width="160" height="120">
  <img data-id="3" src='/assets/screenshots/search_foods.png' width="160" height="120">
</div>


<div class="features">
  <h1><span id="prev">prev</span>Features<span id="next">next</span></h1>

  <section data-id="1" class="visible">Includes a custom script to import CSV
    files from the USDA food database and convert
    each entry into a food object
  </section>

  <section data-id="2">Calculates BMR using the Harris-Benedict equation
    and estimates calorie goals based on user-provided input
  </section>

  <section data-id="3">FeedItems and ReportItems belong to weigh in or daily
    entry objects via polymorphic associations
  </section>
</div>