Fitness App (Rails, Ruby, HTML, CSS, RSpec)
(Inspired by myfitnesspal)
https://github.com/skmichaelson/fitnessapp (source)
http://applecinnamon-fitness-app.herokuapp.com (live)

  <ul class="description">
    <li>Includes a custom method to import CSV
      files from the USDA food database and convert
      each entry into a food object</li>
    <li>Sensitive information is protected using BCrypt and Figaro</li>
    <li>FeedItems and ReportItems are polymorphic models</li>
  </ul>