<style>

.skills {
  font-style: italic;
  float: right;
  padding-right: 15px;
  padding-top: 6px;
}

.screenshots {
  margin: 10px auto;
  padding-left: 6px;
}

.screenshots img {
  float: center;
  padding: 0px 5px;
}

.project-links {
  margin-left: 30px;
  display: inline block;
}

.project-links li {
  float: left;
  text-align: center;
}

.project-links li a {
  border: 1px solid black;
  display: block;
  padding: 5px;
  width: 75px;
}

.features {
  display: block;
  margin: auto 25px;
  text-align: center;
}

.features h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
</style>

<div class="greeting">Fitness App (Inspired by <a href="http://www.myfitnesspal.com/">myfitnesspal</a>)</div>
<span class="group skills">Rails, Ruby, HTML, CSS, RSpec</span>

<ul class="group project-links">
  <li><a href="https://github.com/skmichaelson/fitnessapp">Source</a></li>
  <li><a href="http://applecinnamon-fitness-app.herokuapp.com">Live</a></li>
</ul>

<div class="group screenshots">
  <img src='/assets/screenshots/search.png' width="160" height="120">
  <img src='/assets/screenshots/friends.png' width="160" height="120">
  <img src='/assets/screenshots/signin.png' width="160" height="120">
</div>

<style>
.features section {
  display: none;
}

section.visible {
  display: block;
}

h1 > span {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px 7px;
  margin: 0px 50px;
}
</style>

<div class="features">
  <h1><span id="prev">prev</span>Features<span id="next">next</span></h1>

  <section data-id="1" class="visible">Includes a custom script to import CSV
    files from the USDA food database and convert
    each entry into a food object
  </section>

  <section data-id="2">Calculates BMR using the Harris-Benedict equation
    and estimates calorie goals based on user-provided input
  </section>

  <section data-id="3">FeedItems and ReportItems belong to weigh in or daily
    entry objects via polymorphic associations
  </section>
</div>